node_modules/
package-lock.json
wagtailextraicons/static
wagtailextraicons/static_src/wagtailextraicons/fonts
wagtailextraicons/static_src/wagtailextraicons/scss/extraicons.scss
wagtailextraicons.egg-info
build/
dist/
__pycache__
*.pyc
*.ipynb
.ipynb_checkpoints/
